<section class="w-screen h-auto flex justify-center items-center gap-4 py-4 ">
  <img 
    src="/images/celular-banner2.png" 
    alt="Banner MagicCell"
    class="w-[38%] h-[100%] object-cover rounded-xl shadow-lg transition-transform duration-500 ease-in-out hover:scale-105"
  />
  <img 
    src="/images/gamer-banner.png" 
    alt="Banner MagicCell"
    class="w-[55%] h-[50%] object-cover rounded-xl shadow-lg transition-transform duration-500 ease-in-out hover:scale-105"
  />
</section>
